# dependencies
/node_modules

# Next.js
/.next
/out

# environment variables
.env
.env.local
.env.*.local

# Supabase / secrets
*.pem
*.key

# logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# local backups
/backup
*.bak

# IDE / OS
.vscode/settings.json
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts